Router/Connected Services/ProxyService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProxyCache/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProxyCache" />
  <xs:element name="GetAllStation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProxyCache" minOccurs="0" name="GetAllStationResult" nillable="true" type="q1:JCDecauxItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProxyCache" minOccurs="0" name="GetStationResult" nillable="true" type="q2:JCDecauxItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>